/* GENERAL */
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(150deg, rgb(142, 142, 255), rgb(80, 177, 80));
    user-select: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: transparent;
    padding:  30px 20px;
}

.container.menu {
    padding: 30px 60px;
    border-radius: 14px;
}

.title {
    font-size: 2.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

/* INDEX */
.btn {
    padding: 15px 20px;
    width: 100%;
    color: #000;
    background-color: #fff;
    border: 4px double black;
    font-size: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
    
}

.btn:hover {
    box-shadow: inset 0 0 5px 5px rgb(142, 142, 255);
}

h6 { 
    position: relative;
    bottom: 10px; 
    font-size: 1.2em;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h6:nth-of-type(2) {
    font-size: 1em;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    color: rgb(0, 0, 115);
}

/* GAME */
.btn-round-reload, .btn-round-return {
    position: absolute;
    z-index: 1;
    gap: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: 4px double black;
}

.btn-round-reload {
    top: 100px;
    left: 70px;
}

.btn-round-return {
    top: 100px;
    left: 130px;
}

.timer {
    background-color: white;
    color: red;
    border-radius: 8px;
    border: 4px double black;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.7em;
}

.game {
    justify-content: center;
    width: 560px;
    height: 390px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    border: 2px solid #fff;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform:  rotateY(180deg);
    transition: 0.25s;
}

.item img {
    border-radius: 5px;
    height: 120px;
    width: 80px;
}

.item::after {
    cursor: pointer;
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 5px;
    background: linear-gradient(rgb(33, 33, 130), rgb(44, 44, 173));
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.item:hover:not(.boxMatch) {
    position: relative;
    bottom: 2px;
    right: 2px;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
    transform: rotateY(180deg);
}

#restart {
    width: 40px;
    height: 40px;
    position: relative;
    right: 4px;
    bottom: 4px;
}

#return {
    width: 26px;
    height: 26px;
    position: relative;
    right: 1px;
}
